body{
    
}

.frame{
    padding: 30px 30px 30px 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

#image {
    max-width: 800px;
    max-height: 720px;
}

#headline-text {
    text-align: center;
}